body{
    background-color: aliceblue;
    padding: 20px 7px;
    margin: auto;
    width: 98vw;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    overflow-x: hidden;
}

.frm-log-in {
    border-left: 1px double blue;
    padding-left: 3px;
}

header, .header{
    font-family: "Matemasie", sans-serif;
    font-size: large;
    font-size: 30px;
    margin: 20px 10px;
}

header:hover, .header:hover {
    color: blue;
    text-decoration: double;
}

main {
    width: 80%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: start;
    justify-items: center;
}

.error-section {
    color: red;
    width: 90%;
    margin: 10px auto;
}

.input-section {
    width: 90%;
    margin: 20px auto;
    position: relative;
    display: grid;
    grid-template-columns: 100%;
    justify-items: center;
}

.input-section .label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    transition: all 0.2s ease;
    pointer-events: none;
    color: blue;
    font-weight: 700;
    font-size: 16px;
}

.input-section input {
    height: 28px;
    border: none;
    padding: 2px;
    width: 100%;
}

.input-section input:focus {
    background-color: rgb(201, 219, 235);
}

.input-section input:focus ~ .label,
.input-section input:not(:placeholder-shown) ~ .label {
    top: 0;
    transform: translateY(-100%);
    font-size: 12px;
}


/* these is the password section - sign up */

.input-section .input {
    width: 100%;
    margin-left: -5px;
    display: grid;
    grid-template-columns: 99%;
    align-items: center;
}

.input input {
    width: 100%;
}

.input .image {
    position: absolute;
    width: 30px;
    text-align: right;
    height: 31px;
    top: 0;
    right: 0;
}

.input-section .input:focus-within ~ .label,
.input-section .input input:not(:placeholder-shown) ~ .label {
    top: 0;
    transform: translateY(-100%);
    font-size: 12px;
}
/* end of password - sign up section */

.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.log-input-section {
    width: 100%;
    margin: 7px auto;
    display: grid;
    grid-template-columns: 100%;
    justify-items: start;
}

.log-input-section .input {
    position: relative;
    width: 100%;
}

.log-input-section input {
    height: 20px;
    outline: none;
    padding: 2px;
    width: 100%;
}

#button {
    margin: 10px auto;
    display: grid;
    justify-items: start;
}

button {
    padding: 10px 12px;
    font-weight: 500;
    font-size: 15px;
    border: none;
    border-radius: 11px;
    color: white;
    background-color: blue;
    width: 50%;
}

button:hover {
    font-size: 16px;
    background-color: rgb(0, 0, 146);
    width: 55%;
}

#link {
    font-size: 14px;
}

#link a {
    text-decoration: none;
    color: green;
    font-weight: 600;
}

#link a:hover {
    text-decoration: underline;
}

footer {
    width: 100%;
    text-align: center;
    background-color: blue;
    color: white;
    font-weight: 700;
    font-size: 30px;
    padding: 50px;
    height: 1fr;
}

.hide {
    display: none;
}